.DS_Store
var/*
var/**/*
media
media/*
media/**/*
media-css/*
media-css_secure/*
media-js/*
errors/local.xml
app/etc/local.xml
app/etc/enterprise.xml
downloader/*
downloader/**/*
nbproject/*
nbproject/**/*
.sass-cache
.project
.modgit/
